---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";

const identity = {
  firstName: "Bryson",
  lastName: "Best",
  country: "Canada",
  occupation: "Full Stack Developer",
  hobbies: ["photography", "running", "traveling"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Vue",
  "Node.js",
  "SQL",
  "MongoDB",
  "Python",
  "Writing Documentation",
];
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <h2>Welcome to my personal site</h2>

    <p>
      I am a full-stack developer working with open-source projects to provide
      freelance services and build accessible, inclusive products for the web.
    </p>

    <!-- <p>I offer freelance full-stack development services.</p> -->

    <p>Some quick facts about me:</p>
    <ul>
      <li>My name is {identity.firstName} {identity.lastName}.</li>
      <li>
        I live in {identity.country} and currently work as a {
          identity.occupation
        }.
      </li>
      <p>Some of my hobbies include:</p>
      <p>
        <ul>
          {identity.hobbies.map((each) => <li>{each}</li>)}
        </ul>
      </p>
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </div>
</BaseLayout>
